@font-face {
  src: url(./assets/fonts/surah_names.ttf);
  font-family: surah_names;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url(./assets/fonts/noorehuda.ttf);
  font-family: noorehuda;
  font-style: normal;
  /* font-weight: 400; */
}

@font-face {
  src: url(./assets/fonts/AmiriQuran.ttf);
  font-family: AmiriQuran;
  font-style: normal;
  /* font-weight: 400; */
}

@font-face {
  src: url(./assets/fonts/divehi.otf);
  font-family: divehi;
  font-style: normal;
  /* font-weight: 400; */
}

@font-face {
  src: url(./assets/fonts/hafs.ttf);
  font-family: hafs;
  font-style: normal;
  /* font-weight: 400; */
}

@font-face {
  src: url(./assets/fonts/me_quran.ttf);
  font-family: me_quran;
  font-style: normal;
  /* font-weight: 400; */
}

@font-face {
  src: url(./assets/fonts/noorehidayat.ttf);
  font-family: noorehidayat;
  font-style: normal;
  /* font-weight: 400; */
}

body {
  margin: 0;
  font-family: 'Baloo Da 2', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.3;
  /* background-color: #021243 !important; */

}

/* p{
  color: #fff;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[class*=" icon-surah"],
[class^="icon-surah"] {
  font-family: 'surah_names' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}